body{
        margin: 0;
        background: #3b4465;
   
}
p{
    color:black;
}
.size{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: left;
    }
.container{
    width: 40%;
    margin: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    padding-left: 5px;
    margin-top: 10px;
    line-height: 13pt;
    padding-top: 3px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  input[type=number]{
    width: 80px;
} 
input[type=number]:focus {
    background-color: lightblue;
}
.papa{
    background-image: url('https://blogs.forbes.com/billspringer/files/2018/12/Dar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    flex-wrap: wrap;

}
.input{
    width: 53%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 19px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  .button {
    width: 40px;
    height: 35px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .border-bottom:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 7px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid rgb(0, 0, 0); /* This creates the border. Replace black with whatever color you want. */
}
.h2{
    margin: 0;
    padding: 0;
}
.center{
    text-align: center;
}
.linehight{
    line-height: 10pt;
    background-color: rgb(189, 189, 189);
    margin-top: 0;
    padding-top: 0;
}
.box-video{
    display: flex;
    width: 50%;
    margin: auto;
    background-color: lavender;
}
.video{
    width: 50%;
}
.margin1{
    margin: 0;
    padding-top: 15px;
}
.smaller{
    font-size: 13px;
}
.component3{
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);   
    margin: 0;
    padding-top: 3px;
}
.contain3{
    width: 60%;
    margin: auto;
    font-size: 13px;  
}
.flex{
    display: flex;
    justify-content: center;
}
.gap{
    padding: 10px;
    width:155px;
}
.icon-size{
    font-size: 50px;
}