.family{
    display: flex;
    justify-content: center;
}
.container-log{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 63vh;
    padding: 10px;
    margin: 35px;
    border-radius: 7px;
}
.input-css{   
    border: none;
    border-bottom: 2px solid rgb(29, 70, 160);    
}
.but-sub{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 25px 20%;
}
      
.but-sub:hover {
    background-color: #008CBA;
    color: white; 
}
